<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Atividade: Nova</title>
</head>

<body>
  <html><br><b> <h2>Atividade: Nova</h2> <br><br></html>

    <form th:action="@{nova.html}" th:object="${atividade}" method="POST">
        <label>TITULO: <input type="text" th:field="*{titulo}" /> </label>
        <strong th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}"></strong>

        <label>TOMATOS: <input type="number" min="0" th:field="*{tomatos}" /> </label>
        <strong th:if="${#fields.hasErrors('tomatos')}" th:errors="*{tomatos}"></strong>

        <input type="submit" />
        <input type="reset" />
    </form>
</body>
</html>