<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head>
        <meta charset="UTF-8">
        <title>Atividade</title>
    </head>
    <body>
        <h1>Atividade</h1>
        <ul>
            <li><a href="listar.html">Listar</a></li>
            <li><a href="nova.html">Criar</a></li>
        </ul>
    </body>
</html>