<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head th:replace="layout-padrao::head(titulo='Usuario')"></head>

<body>
    <header th:replace="layout-padrao::header(titulo='Usuario')"></header>

  
    <p th:text="${mensagem}"></p>
    <nav th:fragment="acoes">
        <ul>
            <li><a href="./listar.html">Listar</a></li>
            <li><a href="./nova.html">Criar</a></li>
        </ul>
    </nav>
</body>
</html>