<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novo Usuario</title>
</head>
<body>
    <h1>Novo Usuario</h1>
    <form th:action="@{nova.html}" method="post" th:object="${usuario}">
        <div>
            <label for="nome">Nome</label>
            <input type="text" id="nome" th:field="*{nome}"> 
            <strong th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></strong>
        </div>
        <div>
            <label for="password">Senha</label>
            <input type="text" id="password" th:field="*{password}"> 
            <strong th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></strong>
        </div>
        <div> <input type="submit"> </div>
    </form>
</body>
</html>